<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>get title</title>
</head>

<body>
    <div>HELLO WORLD</div>
    <form action="/getinfo" method="POST">
        <input type="text" name="link">
        <button>submit</button>
    </form>
    <% if (category.lenght) { %>
        for(var i = 0; i<category.lenght; i++){
            <p><%= category[i].favicon %></p>
            <p><%= category[i].name %></p>
            <p><%= category[i].display_name %></p>
            <p><%= category[i].protocol %></p>
        }
    <% } %>
</body>

</html>